.form-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 30px;

  max-height: 900px;
  width: 450px !important;

}

.form-div {
  width: 400px;
}

.users-list-container {
  margin-top: 20px;
  padding: 0;
}

.users-list-item {
  margin-top: 10px;
  display: flex;

  align-items: baseline;
  align-content: center;
  justify-content: space-between;
  text-align: center;
}
