<h3> Olá, {{ name }} ({{ email }}) </h3>
<p>
  Você acaba de ser atribuído à tarefa <strong>{{ task }}</strong>, criada por <strong>{{ owner }}</strong>!
</p>
<p>
  O status atual da tarefa é <strong>{{status}}</strong> e o prazo para término é <strong>{{ taskTerm }}</strong>.
</p>
<p>
  <h5>TaskIt!</h5>
</p>
